# .NET (shared, web, mobile)
bin/
obj/
*.user
.vs/

# Go (backend)
*.exe 
*.exe~
*.dll
*.so
*.dylib
*.test
*.out 
vendor/
go.work
go.work.sum

# env files
.env

# OS/editor cruft
.DS_Store

# noodle
backend/pitwall-api/.environments/
backend/pitwall-api/.noodle/
bhackend/pitwall-api/.timeline/

